* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.2rem;
  box-sizing: border-box;
  background: #fff;
  z-index: 100;
}
a {
  text-decoration: none;
}
.hide {
  display: none !important;
}
.cl::after {
  display: block;
  content: '';
  clear: both;
}
.rt {
  float: right;
}
.lt {
  float: left;
}
.app .header_box {
  width: 100%;
  min-height: 2rem;
  background: -webkit-linear-gradient(270deg, #5da2f1, #2ea4f2, #838dfb);
}
.app .header_box .logo,
.app .header_box .header_box,
.app .header_box .app {
  color: white;
  font-size: 1.32rem;
  margin-left: 0.3rem;
  margin-top: -0.15rem;
}
.app .header_box .tab {
  height: .44rem;
  width: 1.98rem;
  font-size: 0.22rem;
  line-height: 0.44rem;
  background: #2c91e0;
  border-radius: .3rem;
  position: absolute;
  left: 50%;
  top: .36rem;
  transform: translateX(-50%);
}
.app .header_box .tab a {
  color: #106099;
  padding-left: 0.21rem;
}
.app .header_box .tab a.active {
  color: #fff;
  font-size: 0.22rem;
}
.app .header_box .tab::after {
  position: absolute;
  left: 50%;
  top: .13rem;
  content: "";
  display: block;
  width: 1px;
  height: .18rem;
  background: #6bb0e7;
}
.app .header_box .set_icon,
.app .header_box .user_icon {
  display: block;
  width: 0.36rem;
  height: 0.36rem;
  font-size: 0.36rem;
  color: #fff;
  margin: 0.36rem 0.36rem 0 0;
}
.app .header_box .nav_box {
  text-align: center;
  font-size: 0;
}
.app .header_box .nav_box a {
  display: inline-block;
  color: #fff;
  width: 14%;
  font-size: 0.32rem;
  text-align: center;
  margin-bottom: 0.2rem;
}
.app .content_box {
  padding: 0 0.2rem;
}
.app .content_box .tab_box {
  width: 100%;
}
.app .content_box .tab_box ul {
  width: 100%;
  height: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.01rem solid #ececec;
}
.app .content_box .tab_box ul li {
  font-size: 0.34rem;
  line-height: 0.8rem;
}
.app .content_box .tab_box ul li.current {
  font-size: 0.4rem;
  color: #5da2f1;
  font-weight: 600;
}
.app .content_box .tab_box ul li.current::after {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.06rem;
  background: #2fa4f2;
  border-radius: 0.2rem;
  position: relative;
  left: 50%;
  margin-left: -0.25rem;
}
.app .content_box .tab_body {
  padding-top: 0.2rem;
}
.app .content_box .tab_body .banner_box {
  width: 100%;
  height: 3.4rem;
}
.app .content_box .tab_body .banner_box .container {
  height: 100%;
}
.app .content_box .tab_body .banner_box img {
  width: 100%;
  height: 100%;
}
.app .content_box .tab_body .banner_box .bottom {
  text-align: right;
  position: absolute;
  bottom: 0.2rem;
  font-size: .4rem;
  color: #fff;
  box-sizing: border-box;
  padding-right: 0.2rem;
}
.app .content_box .tab_body .banner_box .bottom .swiper-pagination-current {
  font-size: 0.5rem;
}
.app .content_box .tab_body .list_box li {
  border-bottom: 0.01rem solid #ececec;
  font-size: 0.25rem;
  padding: 0.2rem 0;
}
.app .content_box .tab_body .list_box li p {
  font-size: 0.34rem;
}
.app .content_box .tab_body .list_box li .comment_box {
  text-align: right;
  box-sizing: border-box;
  padding-right: 0.2rem;
}
.app .content_box .tab_body .list_box .one_pic {
  display: flex;
}
.app .content_box .tab_body .list_box .one_pic .img_box {
  width: 2rem;
  height: 1.8rem;
  overflow: hidden;
}
.app .content_box .tab_body .list_box .one_pic .img_box img {
  width: 100%;
  height: 100%;
}
.app .content_box .tab_body .list_box .one_pic .content_box {
  flex: 1;
  height: 1.8rem;
  position: relative;
}
.app .content_box .tab_body .list_box .one_pic .content_box .comment_box {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.app .content_box .tab_body .list_box .two_pic {
  display: flex;
}
.app .content_box .tab_body .list_box .two_pic .img_box {
  flex: 1;
  background: salmon;
  justify-content: space-between;
  height: 2.35rem;
}
.app .content_box .tab_body .list_box .two_pic .img_box img {
  width: 3.5rem;
  height: 100%;
}
.app .content_box .tab_body .list_box .two_pic .img_box:nth-child(1) {
  margin-right: 0.2rem;
}
.app .content_box .tab_body .list_box .three_pic .three_box {
  display: flex;
}
.app .content_box .tab_body .list_box .three_pic .three_box .img_box {
  flex: 1;
  height: 1.8rem;
  background: navajowhite;
}
.app .content_box .tab_body .list_box .three_pic .three_box .img_box img {
  width: 100%;
  height: 100%;
}
.app .content_box .tab_body .list_box .three_pic .three_box .img_box:nth-child(2) {
  margin: 0 0.1rem;
}
