/* 初学者写样式： 从外层标签向最里层标签逐一编写样式 */
/* html,
body {
    animation: colorMove 10s infinite both;
}
@keyframes colorMove{
    0%{
        -webkit-filter-move: hue-rotate(0deg);
    }
    50%{
        -webkit-filter-move: hue-rotate(180deg);
    }
    100%{
        -webkit-filter: hue-rotate(360deg);
    }
} */
/* header */
.headerBox {
    height: 552px;
    background: url('../images/banner7.jpg') no-repeat center center;
    /* cover以最合适的比例铺满整个页面 */
    background-size: cover;
}

/* nav */
.navBox {
    /* text-align设置文本对齐的方式（left/right/center）,我们只需要把盒子变为行内或者行内块状
    标签，就会让其拥有文本特征，对齐方式对齐就有用了 */
    text-align: right;
    background: rgb(15, 25, 50, .3);
}

.navBox .content {
    display: inline-block;
    font-size: 0;
}

.navBox .content a {
    /* inline-block同样可以实现出类似于浮动让元素一排展示的效果，但是它也有自己的bug
    它本质是把元素变为文本特征实现排列的，所以每一个标签和其余标签中间的空格或换行也会
    被当做文本，导致产生一些默认的间距
    解决办法：只要不把空格和换行当做文本即可，先让当前容器中所有文本的字体大小是0（空格换行不占位置），
    再给当前元素单独设置字体大小即可
    */
    display: inline-block;
    /* 元素设置浮动后就变为行内块状标签 */
    float: left;
    height: 32px;
    /* 行高和高度一致，可以让文本垂直居中 */
    line-height: 32px;
    /* font-size文字大小、color文字颜色、text-decoration设置下划线 */
    font-size: 15px;
    color: #fff;
    text-decoration: underline;
    /* 设置a的填充，让a和a之间有间距 */
    padding: 0 12px;
}
/* “图片”和"|"取消下划线并改变鼠标形状 */
.navBox .content a.noline{
    text-decoration: none;
    /* cursor设置鼠标箭头形状：default是箭头 text选中文本 pointer小手 move可移动··· */
    cursor: default;
}
/* 搜索区域 */
.searchBox{
    /* 块状标签（只有他）在设置宽度并且设置margin左右时，auto的情况下，可以让盒子水平居中 */
    margin: 80px auto 0 auto;
    width: 620px;
}
.searchBox .logo{
    display: block;
    margin: 0 auto;
    width: 244px;
    height: 105px;
}
.searchBox .form{
    /* 设置form为后代元素的父级参照物 */
    margin-top: 38px;
    position: relative;
}
.searchBox .form input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 0 128px 0 18px;
    background: rgba(0,0, 0, .1);
    font-size: 14px;
    color: #fff;
}
.searchBox .form .photo{
    /* 设置定位的元素会变为块级元素 */
    position: absolute;
    right: 90px;
    /* 控制定位垂直居中 */
    top:50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background: url(../image/xiangji.png) no-repeat;
    background-size: 100% 100%;
}
.searchBox .form .line{
    position: absolute;
    top:50%;
    margin-top: -12px;
    right: 60px;
    width: 2px;
    height: 24px;
    background: rgba(255,255,255, .3);
}
.searchBox .form .search{
    position: absolute;
    top:50%;
    margin-top: -10px; 
    right: 20px;
    width: 20px;
    height: 20px;
    background: url('../image/sousuo.png') no-repeat;
    background-size: 100% 100%;
}
.searchBox .hot{
    margin-top: 30px;
    text-align: center;
}
.searchBox .hot span,
.searchBox .hot a{
    margin-right: 42px;
    font-size: 14px;
    color: #fff;
    /* 
    * text-shadow设置文字阴影 
    * x轴偏移的距离
    * y轴偏移的距离
    * 阴影的模糊度
    * 阴影的颜色
    * box-shadow设置盒子阴影
    */
    text-shadow: .5px .5px .5px #000;
}
.searchBox .hot a:hover{
    text-decoration: underline;
}
/* 作者区域 */
.headerBox{
    position: relative;
}
.authorBox{
    position: absolute;
    bottom:20px;
    left:50px;
}
.authorBox span,.authorBox a{
    font-size: 100%;
    color: #fff;
    text-shadow: .5px .5px .5px #000;
}
.authorBox a:hover{
    text-decoration: underline;
}
/* main */
.mainBox{
    margin: 50px;
    margin-top: 0;
}
.mainBox h2{
    line-height: 90px;
    font-size:22px;
    font-weight: normal;
    /* font-weight设置文字是否加粗 normal不加粗 bold加粗 */
}
.mainBox .imageList{
    /* flex是CSS3中新增加的盒子模型属性：弹性伸缩盒子模型 */
    display: flex;
    margin-bottom: 10px;
}
.mainBox .imageList li{
    position: relative;
    height: 270px;
    margin-right: 10px;
      /* 溢出隐藏 */
    overflow: hidden;
}
.mainBox .imageList li:nth-last-child(1) {
    /* 最后一个li */
    margin-right: 0;
}
.mainBox .imageList li .item{
    display: block;
    width: 100%;
    height: 100%;
}
.mainBox .imageList li .item img{
    width: 100%;
    height: 100%;
    transition: .3s 
}
.mainBox .imageList li:hover .item img{
    transform: scale(1.5)
}
.mainBox .imageList li .author{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px 0;
    width: 100%;
    height: 48px;
    background: -webkit-linear-gradient(bottom,rgba(0 , 0, 0, .5),rgba(0, 0, 0, 0));
    /* 初始位置向下偏移 */
    transform: translateY(58px);
    transition: .3s;
}
.mainBox .imageList li:hover .author{
    transform:translateY(0);
}
.mainBox .imageList li .author img{
    margin-left: 20px;
    width: 48px;
    height: 48px;
    /* radius是50%：把正方形变为圆形 */
    border-radius:50%;
    /* vertical-align设置行内标签对齐的方式，middle是设置行内居中 */
    vertical-align:middle;
}
.mainBox .imageList li .author span{
    font-size: 12px;
    color: #fff;
    margin-left: 10px;
    vertical-align: middle;
}
