* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.app {
  width: 100%;
  height: 100%;
  background: url('../image/bg.gif') no-repeat;
  background-size: cover;
}
.app .header_box .name_box .music_icon {
  position: fixed;
  z-index: 999;
  width: 0.93333333rem;
  height: 0.93333333rem;
  background: url('../image/music.svg');
  background-size: contain;
  right: 0.4rem;
  top: 0.66666667rem;
  animation: move123 1s linear infinite;
  animation-play-state: paused;
}
.app .swiper-wrapper .swiper-slide {
  position: relative;
}
.app .swiper-wrapper .swiper-slide .content_box {
  width: 100%;
  height: 100%;
  background: url(../image/bj2.webp);
  background-size: cover;
  padding: 1rem 0.4rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.app .swiper-wrapper .swiper-slide .content_box .one_box {
  background: url('http://res1.eqh5.com/Ft-apu7XjLeFqhnp7bNx91c-ZDOW?imageMogr2/auto-orient/thumbnail/152x240>/format/webp') no-repeat;
  background-size: contain;
  width: 5.33333333rem;
  height: 6.66666667rem;
  margin-left: 1rem;
  opacity: 0.7;
  position: absolute;
  top: 3.33333333rem;
}
.app .swiper-wrapper .swiper-slide .content_box .font_box .one {
  position: absolute;
  top: 4.26666667rem;
  left: 3.13333333rem;
  font-size: 0.93333333rem;
  padding: 0.06666667rem;
  color: #817856;
}
.app .swiper-wrapper .swiper-slide .content_box .font_box .two {
  position: absolute;
  top: 5.33333333rem;
  left: 2.13333333rem;
  font-size: 1.33333333rem;
  padding: 0.06666667rem;
  color: #23a193;
}
.app .swiper-wrapper .swiper-slide .content_box .font_box .three {
  position: absolute;
  top: 6.93333333rem;
  left: 2.93333333rem;
  font-size: 1.33333333rem;
  padding: 0.06666667rem;
  color: #696cb4;
}
.app .swiper-wrapper .swiper-slide .content_box .font_box .four {
  padding: 0.06666667rem;
  position: absolute;
  width: 2.8rem;
  height: 24px;
  top: 8.4rem;
  left: 0.86666667rem;
}
.app .swiper-wrapper .swiper-slide .content_box .font_box .four span {
  width: 100%;
  height: 100%;
  transform: rotateZ(57deg);
  letter-spacing: 0.13333333rem;
  color: white;
  font-size: 0.34666667rem;
  display: block;
}
.app .swiper-wrapper .swiper-slide .mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
.app .swiper-wrapper .swiper-slide .second_box {
  width: 100%;
  height: 100%;
  background: url(../image/bj2.webp);
  background-size: cover;
  padding: 1rem 0.4rem;
  box-sizing: border-box;
  overflow: hidden;
}
.app .swiper-wrapper .swiper-slide .third_box {
  z-index: 99;
  position: absolute;
  top: 3.2rem;
  left: 2.66666667rem;
}
.app .swiper-wrapper .swiper-slide .third_box img {
  border-radius: 5%;
  width: 4.66666667rem;
  height: 4.66666667rem;
}
.app .swiper-wrapper .swiper-slide .bottom_box {
  z-index: 99;
  position: absolute;
  bottom: 5.33333333rem;
  left: 0.66666667rem;
}
.app .swiper-wrapper .swiper-slide .bottom_box img {
  width: 8.66666667rem;
  height: 1.33333333rem;
}
.app .swiper-wrapper .swiper-slide .middle_box {
  width: 100%;
  height: 100%;
  background: url(../image/bj2.webp);
  background-size: cover;
  padding: 1rem 0.4rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.app .swiper-wrapper .swiper-slide .middle_box .right_top {
  position: absolute;
  right: 0.66666667rem;
  top: 1.73333333rem;
  font-size: 0.4rem;
  color: white;
  letter-spacing: 0.13333333rem;
}
.app .swiper-wrapper .swiper-slide .middle_box .border_box {
  width: 11.33333333rem;
  height: 13.73333333rem;
  background: url('../image/solid.webp') no-repeat;
  box-sizing: border-box;
  background-size: contain;
  position: absolute;
  top: 2.4rem;
}
.app .swiper-wrapper .swiper-slide .middle_box .content_pic .pic_one {
  border: 15px solid white;
  width: 5.33333333rem;
  height: 6.84rem;
  position: absolute;
  top: 3.33333333rem;
  left: 2.66666667rem;
  transform: rotateZ(8deg);
  animation-fill-mode: backwards;
}
.app .swiper-wrapper .swiper-slide .middle_box .content_pic .pic_two {
  border: 15px solid white;
  width: 4rem;
  height: 4.4rem;
  position: absolute;
  bottom: 2.93333333rem;
  left: 3.2rem;
  transform: rotateZ(352deg);
  animation-fill-mode: backwards;
}
.app .swiper-wrapper .swiper-slide .middle_box .solid_inside {
  width: 13.06666667rem;
  height: 2.66666667rem;
  border-bottom: 2px solid white;
  transform: rotateZ(90deg);
  position: absolute;
  top: 5.06666667rem;
  left: -4.13333333rem;
  animation-fill-mode: backwards;
}
.app .swiper-wrapper .swiper-slide .middle_box .little_box {
  position: absolute;
  left: 0.13333333rem;
  bottom: 1.33333333rem;
  opacity: .5;
}
.app .swiper-wrapper .swiper-slide .middle_box .little_box img {
  width: 2.66666667rem;
}
.app .swiper-wrapper .swiper-slide .middle_box ul .one {
  position: absolute;
  bottom: 4rem;
  left: 1.2rem;
  font-size: 0.64rem;
  padding: 0.06666667rem;
  color: #817856;
}
.app .swiper-wrapper .swiper-slide .middle_box ul .two {
  position: absolute;
  bottom: 2.93333333rem;
  left: 0.53333333rem;
  font-size: 0.93333333rem;
  padding: 0.06666667rem;
  color: #23a193;
}
.app .swiper-wrapper .swiper-slide .middle_box ul .three {
  position: absolute;
  bottom: 1.86666667rem;
  left: 0.93333333rem;
  font-size: 0.93333333rem;
  padding: 0.06666667rem;
  color: #696cb4;
}
.app .swiper-wrapper .swiper-slide .middle_box .c-parent {
  position: absolute;
  top: 1.86666667rem;
  left: 0.93333333rem;
}
.app .swiper-wrapper .swiper-slide .middle_box .c-parent li {
  min-width: 0.26666667rem;
  min-height: 0.26666667rem;
  background: #ffffff;
  border-radius: 50%;
}
.app .swiper-wrapper .swiper-slide .middle_box .c-parent .c1,
.app .swiper-wrapper .swiper-slide .middle_box .c-parent .c2,
.app .swiper-wrapper .swiper-slide .middle_box .c-parent .c3,
.app .swiper-wrapper .swiper-slide .middle_box .c-parent .c4 {
  margin-top: 1.06666667rem;
}
.app .swiper-wrapper .swiper-slide .middle_box .c-parent .c5,
.app .swiper-wrapper .swiper-slide .middle_box .c-parent .c6 {
  margin-top: 0.4rem;
}
.app .swiper-wrapper .swiper-slide .middle_box .time {
  position: absolute;
  top: 2.86666667rem;
  left: 1.46666667rem;
  color: #ffffff;
  font-size: 0.34666667rem;
  letter-spacing: 0.13333333rem;
}
.app .bottom {
  font-size: 0.4rem;
  color: aliceblue;
  left: 4.4rem;
}
@keyframes move123 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
