<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{name}}</h1>
        <span>父组件：</span><input type="text" v-model="name">
        <h2>子组件的名字是{{sonName}}</h2>
        <my-com1 :parent-name='name' @my_fn='fn' ref="myCom"></my-com1>
    </div>

    <template id="com1">
        <div>
            <span>子组件：</span><input type="text" v-model="son" @input='give'>
            我的名字是{{son}}
            <div>
                父组件的名字是：{{parentName}}
            </div>

            <!-- 父传子 ： 通过自定义属性 :parent-name
            子传父 ： 通过自定义事件 @my-fn -->

        </div>
    </template>
    <script>
        let com1 = {
            template: '#com1',
            data() {
                return {
                    son: 'VUE'
                }
            },

            props: ['parentName'],

            methods: {
                give() {
                    this.$emit('my_fn', this.son);
                }
            },


        }
        let vm = new Vue({
            el: '#app',
            data: {
                name: "hello world",
                sonName: ''
            },

            methods: {
                fn(val) {
                    this.sonName = val;
                }
            },
            components: {
                'my-com1': com1
            },

            mounted() {
                // 通过ref 我们不仅可以获取元素 也可以获取组件
                // 获取组件之后 组件里的方法和属性 我们都可以直接调用
                console.log(this.$refs.myCom);
                
            },
        })
    </script>
</body>

</html>