/*ͨ����ʽ*/
*{
    margin: 0;
    padding: 0;
}
body {
    font: normal 14px/24px Microsoft Yahei,Arail;
    color: #666;
    background: url("../images/bg.png");
}
img{
    border: none;
    font-size: 0;
    vertical-align: top;
}
h1,h2,h3,h4,h5{
    font-weight: normal;
}
input{
    outline: none;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #666;
    transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
}
a:hover{
    color: #f72d55;
}
.middle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.abs{
    position: absolute;
}
.rlt{
    position: relative;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.container{
    width: 1200px;;
    margin: 0 auto;
}
/*����ͼ��*/
@font-face {font-family: "iconfont";
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome��firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome��firefox��opera��Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-lianxiren:before { content: "\e675"; }
.icon-chakanxiangxi:before { content: "\e65e"; }
.icon-jiantou:before { content: "\e601"; }
.icon-jiantou1:before { content: "\e662"; }

/*��ҳ��ʽ*/
/*top*/
.top{
    height: 30px;
    line-height: 30px;
    background-color: white;
}
.top ul li{
    padding: 0 10px;
    background: url("../images/icon.png") 75px 0;
}
.top ul li:last-child{
    background: none;
}
/*banner*/
/*navbar*/
.nav{
    height: 77px;
    line-height: 77px;
    background-color: #1d1d1d;
}
.logo{
    width: 100px;
    height: 77px;
}
.navbar li{
    transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    text-align: center;
    padding: 0 40px;
}
.navbar li a{
    color: white;
    font-size: 16px;
    display: block;
    height: 100%;
}
.navbar li.current{
    background-color: #f72d55;
}
.navbar li:hover{
    background-color: #f72d55;
}
.navbar li ul{
    left: 0;
    top: 77px;
    width: 100%;
    padding: 5px 0;
    background: url("../images/bg.png");
    z-index: 999;
}
.navbar li ul li{
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
}
.navbar li ul li a{
    color: #666;
}
.navbar li ul li a:hover{
    color: white;
}
/*slide*/
.slide{
    width: 100%;
    overflow: hidden;
}
.slide img{
    margin-left: calc(50% - 960px);
    margin-left: -webkit-calc(50% - 960px);
    margin-left: -moz-calc(50% - 960px);
}
.slide i{
    cursor: pointer;
    color: #007AFF;
    font-size: 50px;
    top: 50%;
    margin-top: -25px;
    opacity: .3;
    transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
}
.slide:hover i{
    opacity: 1;
}
i.left{
    left: 20px;
}
i.right{
    right: 20px;
}
.slide ul{
    left: 50%;
    bottom: 20px;
}
.slide ul li{
    float: left;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.slide ul li.active{
    background: #007AFF;
}
/*��ҳ��������*/
.main{
    padding: 40px;
}
h2.item{
    height: 30px;
    line-height: 30px;
    background: url("../images/item.png") center center no-repeat;
    text-align: center;
    color: #f72d55;
}
h2.item span{
    left: 50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    bottom: -25px;
    font-size: 14px;
}
/*��Ʒչʾ*/
.item1{
    background-color: #f2efeb;
    margin-top: 40px;
}
.item1 ul{
    margin-bottom: 10px;
}
.item1 ul li{
    width: 298px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-right: 2px;
}
.item1 ul li a{
    display: block;
    height: 100%;
    font-size: 16px;
}
.item1 ul li.active{
    background-color: #f72d55;
}
.item1 ul li.active a{
    color: white;
}
.tab{
    height: 450px;
    display: flex;
    justify-content: space-between;
}
.tab a{
    color: #000;
    display: block;
    height: 100%;
    overflow: hidden;
}
.tab a:hover{
    color: #000;
}
.tip{
    position: absolute;
    left: 50%;
    margin-left: -85px;
    top: 37px;
    width: 170px;
    height: 80px;
    background: url(../images/img16.png) repeat;
    text-align: center;
    border: 4px solid #FEECD5;
    padding: 10px 0;
    line-height: 25px;
}
.tab img:not(.noscale){
    transition: all .5s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
}
.tab img:not(.noscale):hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/*��˾���*/
.item2{
    margin: 40px 0;
}
.fengcai{
    width: 600px;
    height: 340px;
}
.jianjie{
    width: 550px;
    height: 340px;
}
h3.about-title{
    height: 35px;
    border-left: 4px solid #f72d55;
    padding-left: 10px;
    font-size: 18px;
    line-height: 18px;
    color: #f72d55;
}
h3.about-title span{
    left: 10px;
    bottom: -3px;
    font-size: 14px;
    color: #999;
}
.fengcai-pic{
    margin-top: 10px;
    width: 600px;
    height: 293px;
    overflow: hidden;
    box-shadow: 3px 3px 10px #000;
}
.fengcai-pic ul{
    left: 0;
    bottom: 0;
    line-height: 45px;
    background-color: rgba(0,0,0,.7) ;
    height:45px;
    width: 100%;
    padding-left: 480px;
    box-sizing: border-box;
    color: white;
}
.fengcai-pic ul li{
    border-radius: 50%;
    text-indent: -9999px;
    background-color: white;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 15px;
    cursor: pointer;
}
.fengcai-pic ul li.active{
    background-color: #f72d55;
}
a.title{
    left: 10px;
    bottom: 10px;
    color: white;
}
/*��˾���*/
.profile{
    margin-top: 10px;
}
.profile img{
    margin-right: 15px;
}
.profile p{
    line-height: 25px;
}
.profile p a{
    margin-left: 20px;
    color: #f72d55;
}
/*��Ѷ����*/
.item3{
    margin-top: 40px;
}
.news{
    width: 540px;
    padding: 0 30px;
}
.news h2{
    font-size: 18px;
    color: white;
    height: 35px;
    line-height: 35px;
    background-color: #eee;
    padding-right: 20px;
    box-shadow: 0 2px 5px #666;
}
.news h2 span{
    display: block;
    width: 120px;
    background-color: #f72d55;
    text-align: center;
}
.news h2 span:before{
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #f72d55;
    position: absolute;
    left: 70px;
    top: 35px;
}
.news h2 a{
    font-size: 16px;
}
.first-news{
    padding: 20px 15px 15px 30px;
    color: #f72d55;
    border-bottom: 1px solid #ccc;
}
.news-time{
    text-align: center;
    line-height: 30px;
    padding: 10px 0;
}
.news-time p:first-child{
    font-size: 18px;
}
.news-img{
    margin: 0 20px;
}
.news-content{
    width: 298px;
}
.news-content p{
    color:#666;
}
.news ul li{
    border-bottom: 1px solid #ccc;
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    background: url("../images/list.png") no-repeat 5px center;
}
.news ul li a{
    width: 400px;
    display: block;
}
.news ul li span{
    right: 5px;
    top: 0;
}
/*foot*/
.foot{
    padding-top: 10px;
    background-color: #555;
}
.foot img{
    vertical-align: bottom;
}
.foot p{
    color: white;
}
.foot p a{
    color: white;
    margin-right: 17px;
}
.line{
    border-top: 1px solid #000;
    border-bottom: 1px solid #777;
    margin-top: 10px;
}
.foot-nav{
    width: 171px;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
}
.foot-nav a{
    color: white;
}
.foot-nav ul{
    padding-top: 10px;
    font-size: 14px;
}
.hide{
    display: none;
}



/*�߽�������*/
.about .container{
    overflow: hidden;
}
.about-main,.about-nav{
    background-color: white;
    min-height: 500px;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}
.about-nav{
    width: 220px;
    padding-top: 50px;
}
.about-main{
    width: 950px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 150px;
    background: url("../images/about1.png") no-repeat white;
}
.about-nav ul li{
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #cfcfcf;
}
.about-nav ul li a{
    display: block;
    height: 100%;
    text-align: right;
    padding-right: 30px;
}
.about-nav ul li.active{
    background: url("../images/myt.png") 10px center no-repeat #f72d55 ;
}
.about-nav ul li.active a{
    color: white;
}
.about-nav ul li:hover{
    background-color: #f72d55;
}
.about-nav ul li:hover a{
    color: white;
}

/*��Ʒ����*/
.select{padding:5px 10px;width:1180px;}
.select li{list-style:none;padding:10px 0 5px 100px;}
.select .select-list{border-bottom:#666 1px dashed}
.select dl{zoom:1;position:relative;line-height:24px;}
.select dl:after{content:" ";display:block;clear:both;height:0;overflow:hidden}
.select dt{width:100px;margin-bottom:5px;position:absolute;top:0;left:-100px;text-align:right;color:#666;height:24px;line-height:24px}
.select dd{float:left;display:inline;margin:0 0 5px 5px;}
.select dd.hide{display:none;}
.select a{display:inline-block;white-space:nowrap;height:24px;padding:0 10px;text-decoration:none;color:#666;border-radius:2px;}
.select a:hover{color:#f72d55;background-color:#f3edc2}
.select .selected a{color:#fff;background-color:#f72d55}
.select-result dt{font-weight:bold}
.select-no{color:#999}
.select .select-result a{padding-right:20px;background:#f72d55 url("../images/close.gif") right 9px no-repeat}
.select .select-result a:hover{background-position:right -15px}
.product-list{
    background-color: white;
}
.products ul{
    padding-left: 15px;
}
.products ul li{
    margin-right: 15px;
    margin-bottom: 8px;
    height: 241px;
    overflow: hidden;
}
.pro-name{
    left: 0;
    bottom: -50px;
    background-color: rgba(0,0,0,.8);
    height: 50px;
    width: 260px;
    padding: 0 10px;
    overflow: hidden;
    transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
}
.pro-name a{
    color: white;
    line-height: 25px;
    text-align: center;
    display: block;
}
.products ul li:hover .pro-name{
    bottom: 0;
}
/*��ҳ��ʽ*/
.page {
    margin: 30px 0;
    text-align: center;
}
.page a{
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background: #f4f4f4;
}
.page a.bg-blue ,.page a:hover{
    color: #fff;
    background:#f72d55;
    border: 1px solid #f72d55;
}


/*������Ѷ*/
.news-center{
    background-color: white;
    padding-top: 40px;
}
.news-center h2,.news-center h4,.news-item{
    text-align: center;
}
.news-item{
    margin-top: 20px;
    margin-bottom: 40px;
}
.news-item li{
    border:1px solid #bbb;
    padding: 10px 30px;
    margin-left: 10px;
}
.news-item li.active{
    color: white;
    background-color: #f72d55;
}
.post-image {
    width: 500px;
    margin-bottom: 25px;
    padding: 4px;
    border: 1px solid #ddd;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
}
.post-content-wrap {
    width: 620px;
}
.post-date a.date {
    background: none repeat scroll 0 0 #fafafa;
    display: block;
    float: left;
    margin-right: 20px;
    padding: 10px 0 0;
    text-align: center;
    width: 55px;
    border-radius: 2px;
}
.post-date a.date strong {
    color: #1889C1;
    display: block;
    font-size: 27px;
    font-weight: normal;
    margin-bottom: 10px;
}
.post-date a.date i {
    background-color: #1889C1;
    border-top: 1px solid #F3F3F3;
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-style: normal;
}
.dth {
    height: 10px;
}
h3.content-title {
    text-align: left !important;
    margin-bottom: 15px;
}
h3.content-title a{
    display: block;
    color: #0488cd;
}
.blog-entry-meta-author {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 12px;
    vertical-align: top;
    color: #0488cd;
}
.blog-entry-meta-tags a{
    color: #0488cd;
}
.blog-entry-meta-tags {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 10px;
    font-size: 12px;
    vertical-align: top;
}
.blog-entry-meta i {
    margin-right: 4px;
    color: #0488cd;
    font-size: 14px;
}
.post-content {
    padding-bottom: 10px;
}
.post-content p {
    line-height: 25px;
}





/*-- ����չʾ --*/


#Container {
    margin-top: -10px;
}

#Container .mix {
    display: none;
}

.portfolio-wrapper {
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 15px;
}
.portfolio-thumb{
    position: relative;
}
.case-attr{
    left: 0;
    bottom: -60px;
    background-color: rgba(0,0,0,.8);
    width: 100% ;
    height: 60px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
.portfolio-thumb:hover .case-attr{
    bottom: 0;
}
.case-attr a{
    color: white;
    padding: 0 10px;
    display: block;
    line-height: 30px;
}
.portfolio-thumb img {
    width: 280px;
    height: 260px;
}


.portfolio-thumb {
    position: relative;
}

.hover-iner {
    position: relative;
    width: 100%;
    height: 100%;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.hover-iner a {
    position: absolute;
    top: 35%;
    left: 43%;
    margin-left: -18px;
    margin-top: -18px;
    background-color: rgba(0,0,0, 0.1);
    border: 1px solid #f78e21;
    width: 80px;
    height: 80px;
    line-height: 80px;
    color: #fff;
    text-align: center;
}

.hover-iner img {
    width: auto;
}

.hover-iner span {
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    margin-top: 190px;
    text-align: center;
    font-size: 13px;
    width: 100%;
    color: #f78e21;
    font-weight: 300;
}

.hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.portfolio-wrapper:hover .portfolio-thumb .hover {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in;
}

.pagination {
    margin-top: 60px;
}

.pagination ul {
    padding: 0;
    margin: 0;
}
.pagination li {
    list-style: none;
    display: inline-block;
}

.pagination a {
    background-color: #444;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    display: block;
    text-align: center;
}

.pagination a:hover {
    background-color: #f78e21;
}


/*��Ʒ����*/
.pro{padding: 10px 0 20px ;}
.left-pro{width:572px; padding:20px 10px;border:1px solid #ccc;text-align:left;}
.left-pro .t1{width:100px;float:left}
.left-pro .t2{width:352px;text-indent:0;float:left;padding-left:10px}
.left-pro .t2 img{text-indent:0;}
#showArea img{cursor:pointer;display:block;margin-bottom:5px;width:68px;padding:1px;border:1px solid #ccc;height:68px;float:left}
#main_img{cursor:pointer;display:block}
#gotop{cursor:pointer;display:block;margin-left:9px}
#gobottom{cursor:pointer;display:block;margin-left:9px}
#showArea{height:379px;margin:10px;overflow:hidden}
.right-pro{
    width: 550px;
}
.right-pro h2{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 20px;
}
.right-pro p{
    line-height: 40px;
    font-size: 16px;
}
.pro-title{
    border-bottom: 1px solid #f72d55;
    color: white;
}
.pro-title h2{
    background-color:#f72d55;
    width: 200px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.pro-text{
    padding: 10px;
}


/*��վ��ͼ*/
.map{
    background-color: white;
    padding: 20px 0;
}
.map h2{
    text-align: center;
    height: 60px;
    line-height: 60px;
    border-bottom:1px dashed #ddd;
}
.map h3{
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    border-bottom:1px dashed #ddd;
    padding-left: 10px;
}
.map h3 a{
    color: #006699;
}
.map ul{
    padding: 10px;
}
.map ul li{
    width: 150px;
}


/*����*/
.liuyan{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.liuyan li.first, li.second {
    border: none;
    list-style: none;
    margin-bottom: 10px;
    width: 100%;
}
.user {
    background: url(../images/icons.png) no-repeat 14px 15px #f72d55;
}
.email {
    background: url(../images/icons.png) no-repeat 15px -39px #f72d55;
}
.phone {
    background: url(../images/icons.png) no-repeat 15px -93px #f72d55;
}
.msg {
    background: url(../images/msg.png) no-repeat 16px 16px #f72d55;
}
.icon, .icon2 {
    height: 55px;
    width: 55px;
    display: block;
    float: left;
    border-top-left-radius: 0.3em;
    -o-border-top-left-radius: 0.3em;
    -moz-border-top-left-radius: 0.3em;
    -webkit-border-top-left-radius: 0.3em;
    border-border-bottom-left-radius: 0.3em;
    -o-border-bottom-left-radius: 0.3em;
    -moz-border-bottom-left-radius: 0.3em;
    -webkit-border-bottom-left-radius: 0.3em;
}
.liuyan input[type="text"], form textarea {
    width: 913px;
    padding: 1.15em 1em;
    color: #858282;
    font-size: 16px;
    outline: none;
    background: #ddd;
    font-weight: 500;
    border: none;
    font-family: 'Lora', serif;
    border-top-right-radius: 0.3em;
    -o-border-top-right-radius: 0.3em;
    -moz-border-top-right-radius: 0.3em;
    -webkit-border-top-right-radius: 0.3em;
    border-border-bottom-right-radius: 0.3em;
    -o-border-bottom-right-radius: 0.3em;
    -moz-border-bottom-right-radius: 0.3em;
    -webkit-border-bottom-right-radius: 0.3em;
}
.liuyan li.first, li.second {
    border: none;
    list-style: none;
    margin-bottom: 10px;
    width: 100%;
}
.liuyan textarea {
    resize: none;
    height: 140px;
}
.liuyan input[type="submit"] {
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 10px 10px;
    margin-bottom: 20px;
    width: 25%;
    border: 2px solid #f72d55;
    background: #f72d55;
    border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
}
li.first:hover .user{
    background: url(../images/icons.png) no-repeat 14px 15px #f79d29;
}
li.first:hover .email{
    background:url(../images/icons.png) no-repeat 15px -39px #f79d29;
}
li.first:hover .phone{
    background: url(../images/icons.png) no-repeat 15px -93px #f79d29;
}
li.second:hover .msg {
    background: url(../images/msg.png) no-repeat 16px 16px #f79d29;
}